body{
    background-color: white;
}

.box{
    background-color: white; 
    padding: 10%;
    border-radius: 10px;
    text-align: left;
    width: 80%; 
}
/*
.box:hover{
    background-color: grey; 
    padding: 10%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    text-align: left;
    width: 80%; 
}
*/
#content{
    margin: 10% 10%;
}

#table, #table th, #table td{
    border: 2px solid black;
}

img{
    width: 400px;
    height: 592px;
}