body {
  background-color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0; /*30px?*/
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1020px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  padding: 10px;
}

.nav a {
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 14px;
}

.nav a:hover {
  background-color: gray;
}

.header-container {
  overflow: auto;
  position: relative;
  height: 60px;
}

.slide-in {
  position: relative;
  animation-name: slideLeft;
  animation-timing-function: linear;
  animation-duration: 2s;
  /*animation-fill-mode: forwards;
  white-space: nowrap;*/
}

@keyframes slideLeft {
  from{left: -100%;}
  25%{left: -75%}
  55%{left: -50%}
  75%{left: -25%}
  to{left: 0%;}
}

.content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.movie {
  padding: 5%;
}

.poster {
  position: relative;
}

.poster img {
  width: 100%;
  max-width: 400px;
  transition: transform 2s ease;
}

.poster:hover img {
  transform: scale(1.2);
}

.poster span {
  position: absolute;
  bottom: 10px;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
  display: none;
}

.poster:hover span {
  display: block;
}

.multicolumn{
  column-count: auto;
  column-gap: 3px;
}

/* Responsive Layouts */
@media screen and (max-width: 480px) {
  .nav {
      flex-direction: column;
      align-items: center;
  }

  .poster img {
      max-width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 800px) {
  .nav {
      justify-content: space-between;
  }

  .content {
      flex-direction: column;
  }
}

@media screen and (min-width: 801px) {
  .nav {
      justify-content: space-around;
  }

  .content {
      flex-direction: column;
  }
}