/*css for login&signup*/
h1 {
  font-size: 24px;
  color: #111;
  margin-bottom: 10px;
}

a {
  font-size: 14px;
  margin-bottom: 20px;
  display: inline-block;
}

.form-box {
  background-color: #fff;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #aaa;
  width: 300px;
  height: auto;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}

input, select {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
  font-size: 14px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="radio"]{
  width: auto;
  margin: 5px;
}

button {
  width: 25%;
  padding: 8px;
  font-size: 14px;
  margin-top: 10px;
  margin-right: 5%;
  cursor: pointer;
}

.signup, .login {
  background-color: #4CAF50;
  color: white;
  border: none;
}

.cancel {
  background-color: #f44336;
  color: white;
  border: none;
}

button:hover {
  opacity: 0.9;
}
